node_modules/
.env
parser-service/.env
android-companion/.gradle/
android-companion/build/
android-companion/app/build/
AndroidSocialSaver-debug.apk
apk-artifact/
parser-service-nas.zip
parser-service-nas/
.nas-package/
